<div class="search">
  <form #form="ngForm" (submit)="(onSubmit)">
    <input
      type="text"
      placeholder="Enter the city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <!-- upper section -->
  <div class="upper-data">
    <img
      src="../assets/hot.jpg"
      *ngIf="weatherData.current_observation.condition.temperature > 15"
    />
    <img
      src="../assets/cool-2.jpg"
      *ngIf="weatherData.current_observation.condition.temperature <= 15"
    />

    <!-- weather widgets -->
    <div class="weather-data">
      <div class="location">
        {{ weatherData.location.city }}
      </div>
      <div class="temperature">
        {{
          weatherData.current_observation.condition.temperature
            | number : "1.0-0"
        }}°C
      </div>
    </div>
  </div>

  <!-- lower section -->
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/bubbles/50/sunrise.png" />
          <span>Sunrise</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current_observation.astronomy.sunrise }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/cotton/64/sunset--v2.png" />
          <span>Sunset</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current_observation.astronomy.sunset }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/48/dew-point.png" />
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current_observation.atmosphere.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/fluency/48/wind.png" />
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current_observation.wind.speed }} km/h
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="14 > 15">
    <img src="../assets/cool-2.jpg" *ngIf="14 <= 15">
    
    <div class="weather-data">
      <div class="location">
        Wellington
      </div>
      <div class="temperature">{{ 14.40 | number: '1.0-0' }}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">        
        <div class="info-block-label">
          <img src="https://img.icons8.com/stickers/100/temperature-low.png">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>

      <div class="info-block">        
        <div class="info-block-label">
          <img src="https://img.icons8.com/stickers/100/temperature-high.png">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          20°C
        </div>
      </div>

      <div class="info-block">        
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/48/dew-point.png">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>

      <div class="info-block">        
        <div class="info-block-label">
          <img src="https://img.icons8.com/fluency/48/wind.png">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          11 km/h
        </div>
      </div>

    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
